@model MovieApplicationDb.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DownloadURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DownloadURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<h4>Clients that rented this movie</h4>
<div>
    <ul>
        @foreach (var client in Model.clients)
            {
                <li>
                    <a href="/Clients/Details/@client.Id">@client.Name, @client.Age</a>
                </li>
            }
    </ul>
</div>
<a href="/Movies/InsertNewClient/@Model.Id">Insert client to movie</a>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
